//variables
$fondo_header: #FAAF33;
$fondo_pizza: #2C2838;
$fondo_footer: #3E454E;
$fondo_botones: #4E5468;


/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* end reset */
header{
   background-color: $fondo_header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* page tiendas */
    #lblTiendas{
        
    }
    
    .categorias{
        
        input{
            background-color: $fondo_botones;
            color: $fondo_header;
            border-radius: 50%; 
            padding: 1.2em;
        }
        input:hover{
            transition: 0.5s;
            color: $fondo_botones;
            background-color: $fondo_header;
        }
    }
    /* end page */
    
}
main{
    display: flex;
    justify-content: space-between;
    
}
section{
    margin-top: 1em;
    margin-bottom: 1em;
   
    min-height: 23em;
    /* page inicio*/
    .buscarTienda{
        text-align: center;
    }
    #rblTiendas{
        margin-left: auto;
        margin-right: auto;
        border: 0.2em dotted black;
        padding: 1em;     
    }
    .tiendas{
        margin-top: 1em; 
    }
    .productos{
        display: flex;
        flex-wrap: wrap;
    }
    #btnBuscar{
        width: 10%;
        min-height: 3em;
        border-radius: 30%;
    }   
    /* end page inicio */

    /* div productos */
    .productos{
        width: 50%;
        
    }
    .productoPrincipal{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        
    }
    /* end div productos*/
}
footer{

    background-color: $fondo_footer;
    min-height: 3em;
    .logoFooter{
        img{
            width: 10%;
        }
    }
    
}