//variables
$fondo_header: #FAAF33;
$fondo_pizza: #2C2838;
$fondo_footer: #3E454E;
<<<<<<< HEAD
$fondo_botones: #666666;
$color_h3: #222629;
$fondo_botones-hover: #000000;
$fondo_producto: #E6E6E6;
$fondo_botonesPedir: #666666;
$fondo_botones-a_hover:#FDA228;
$color_blanco: #FFFFFF;
$color_letra: #555E75;
$fondo_imagen_aside: "../img/aside.jpg";
$resolucion_movilInicio: 456px;
=======
$fondo_botones: #000000;
$color_blanco: #FFFFFF;
>>>>>>> master
