@import 'variables';

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* end reset */
header{
    background: $fondo_header;
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    align-items: center;
    h1{
        color: $color_h3;
        padding: 1em;
    }
    
=======
    align-items: center;    
>>>>>>> master
}
main{
    display: flex;
    justify-content: space-between;
    
}
section{
    margin-top: 1em;
    margin-bottom: 1em;
   
    min-height: 23em;
    /* page inicio*/
    .buscarTienda{
       
<<<<<<< HEAD
        text-align: center;  
    }
   
    .nombreTienda{
        margin: 1em;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        width: 50%;
        border: 0.2em dotted black;
        input[type=radio]{
            margin: 0 0.2em;
        }
        p{
            margin: 0.67em;
        }
    }
    
=======
        text-align: center;
        
    }
    #rbTiendas{
        margin-left: auto;
        margin-right: auto;
        border: 0.2em dotted black;
        padding: 1em;     
    }
    .tiendas{
        margin-top: 1em; 
    }
    .nombreTienda{
        margin: 1em;
    }
    .productos{
        display: flex;
        flex-wrap: wrap;
    }
>>>>>>> master
    #btnBuscar{
        width: 10%;
        min-height: 3em;
        border-radius: 30%;
    }   
    /* end page inicio */

    
}
footer{

    background-color: $fondo_footer;
    min-height: 3em;
<<<<<<< HEAD
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5em;
    p{
        font-size: 1.2em;
        color: $color_blanco;
        padding: 1em;
        
    }
    .social{
        a{
            padding: 1em;
            color: $color_blanco;
        }
        a:hover{
            color: $fondo_header;
        }
    }
    
    
}

@media screen and (max-width: $resolucion_movilInicio){
    header{
        display: flex;
        flex-direction: column;
    }
   
    section{
       
         input{
             margin: 1em;
         }
        #btnBuscar{
            margin-top: 1em;
            padding: 1em;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 30%;
             min-height: 1em;
             border-radius: 30%;
         }
         
         .nombreTienda{
             font-size: 1em;
             width: 90%;
         }
    }

    footer{
        display: flex;
        flex-direction: column;
    }
    
=======
    p{
        color: $color_blanco;
        padding: 1em;
        line-height: 3em;
    }
    
    
>>>>>>> master
}