/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #FAAF33;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo h1 {
  color: #222629;
}

header .logo p {
  color: #222629;
}

header #checkMenu {
  visibility: hidden;
}

header #menuMovil {
  visibility: hidden;
}

header .categorias input {
  background-color: #666666;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 1.2em;
}

header .categorias input:hover {
  transition: 0.5s;
  color: #FFFFFF;
  background-color: #FDA228;
}

header .categorias input:active {
  background-color: #FDA228;
}

main {
  display: flex;
  justify-content: space-between;
}

section {
  flex: 1 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 20em;
  align-items: normal;
  justify-content: space-between;
}

.producto {
  border-radius: 50%;
  margin: 1em;
  text-align: center;
  border: 0.3em solid #FAAF33;
  background-color: #E6E6E6;
  padding: 1em;
}

.producto p {
  color: #555E75;
  padding: 0.2em;
}

.producto input[type=image] {
  width: 50%;
}

.producto input[type=number] {
  padding: 0.2em;
  width: 20%;
}

.producto input[type=submit] {
  padding: 1em;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: #666666;
}

.producto input[type=submit]:hover {
  background-color: #FDA228;
}

.sinProductos {
  margin: 1em;
  padding: 1em;
  border-radius: 50%;
  color: #555E75;
  background-color: #E6E6E6;
  padding: 2em;
  border: 0.3em solid #FAAF33;
  margin: auto;
}

aside {
  background-image: url("../img/aside.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 20%;
}

aside i {
  padding: 0.2em;
}

aside h3 {
  margin: 0.67em;
  color: #FFFFFF;
  text-align: center;
}

footer {
  background-color: #3E454E;
  min-height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5em;
}

footer p {
  font-size: 1.2em;
  color: #FFFFFF;
  padding: 1em;
}

footer .social a {
  padding: 1em;
  color: #FFFFFF;
}

footer .social a:hover {
  color: #FAAF33;
}

@media screen and (max-width: 456px) {
  header {
    display: flex;
    flex-direction: column;
    height: 25em;
  }
  header .logo {
    flex-direction: column;
  }
  header .nombreRestaurante {
    text-align: center;
  }
  header .nombreRestaurante p {
    font-size: 1em;
  }
  header #menuMovil {
    visibility: visible;
  }
  header #checkMenu:checked ~ .categorias {
    transform: translateX(0%);
  }
  header #checkMenu:checked ~ #menuMovil:before {
    content: "\f00d";
  }
  header #checkMenu {
    display: none;
  }
  header .categorias {
    transition: all 0.5s;
    transform: translateX(200%);
    width: 100%;
    background-color: #FAAF33;
    padding: 1em;
    display: flex;
    flex-direction: column;
  }
  header .categorias input[type=submit] {
    width: 50%;
    margin: auto;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
}
/*# sourceMappingURL=tienda.css.map */